include cffi_modules/*

recursive-include pqc *.py

include Lib/PQClean/README*
recursive-include Lib/PQClean/common *.h
recursive-include Lib/PQClean/crypto_kem/mceliece* *
recursive-include Lib/PQClean/crypto_sign/sphincs* *
